entry
    id= geocache.Code
    author
        name= geocache.Owner.UserName
    title #{geocache.Code} - #{geocache.Name}
    link(rel='alternate' type='text/html' href="https://www.geocaching.com/geocache/#{geocache.Code}")
    published= geocache.UTCPlaceDate
    updated= geocache.UTCPlaceDate
    content(type='xhtml')
        h4 #{geocache.CacheType.GeocacheTypeName} / #{geocache.ContainerType.ContainerTypeName} / D: #{geocache.Difficulty} / T: #{geocache.Terrain} / Coord: #{geocache.Coordinates}
        if typeof geocache.Distance != 'undefined'
            p Distance: #{Math.round(geocache.Distance / 1000)} km
