mixin content(geocache)
    h1= geocache.Name
    p Type: #{geocache.CacheType.GeocacheTypeName}
    p Size: #{geocache.ContainerType.ContainerTypeName}
    p Difficulty: #{geocache.Difficulty}
    p Terrain: #{geocache.Terrain}

doctype xml
feed(xmlns='http://www.w3.org/2005/Atom')
    id= self
    title(type='text') Geocaches
    updated= updated
    link(href=self rel='self')
    each geocache in geocaches
        entry
            id= geocache.Code
            author
                name= geocache.Owner.UserName
            title #{geocache.Code} - #{geocache.Name}
            link(rel='alternate' type='text/html' href=geocache.Url)
            published= geocache.UTCPlaceDate
            updated= geocache.UTCPlaceDate
            content(type='xhtml')
                +content(geocache)
